In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'test.ipynb',
 'test.py',
 'Untitled.ipynb']

In [2]:
import pandas

In [3]:
df1=pandas.read_csv("supermarkets.csv")

In [4]:
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df2=pandas.read_csv("supermarkets.csv")

In [6]:
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df2=pandas.read_json("supermarkets.json")

In [8]:
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df3=pandas.read_excel("supermarkets.xlsx",sheetname=0)

TypeError: read_excel() got an unexpected keyword argument 'sheetname'

In [11]:
df3=pandas.read_excel("supermarkets.xlsx")

ValueError: Your version of xlrd is 2.0.1. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.

In [12]:
df3=pandas.read_excel("supermarkets.xlsx")

In [13]:
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df4=pandas.read_csv("supermarkets_commas.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'supermarkets_commas.txt'

In [15]:
df4=pandas.read_csv("supermarkets-commas.txt")

In [16]:
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [17]:
pandas.read_csv?

In [1]:
df7 = df4.set_index("Address")

NameError: name 'df4' is not defined

In [2]:
df4=pandas.read_csv("supermarkets-commas.txt")

NameError: name 'pandas' is not defined

In [3]:
import pandas

In [4]:
df4=pandas.read_csv("supermarkets-commas.txt")

In [5]:
df7 = df4.set_index("Address")

In [6]:
df7

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [8]:
df5 = df4.set_index("ID")

In [9]:
df5

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [28]:
df5.loc[2:5,"State"]

ID
2            CA 94119
3    California 94114
4            CA 94114
5          California
Name: State, dtype: object

In [31]:
df5.iloc[2:5,2:]

               State Country         Name  Employees
ID
3   California 94114     USA  Super River         25
4           CA 94114     USA   Ben's Shop         10
5         California     USA      Sanchez         12

In [32]:
df7["Continent"] = ["North America"]

ValueError: Length of values (1) does not match length of index (6)

In [33]:
len(df7.index)

6

In [34]:
df7["Continent"] = df7.shape[0]*["North America"]

In [35]:
df7

,ID,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,North America
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,North America
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,North America
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,North America
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,North America
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,North America

In [36]:
df7.shape

(6, 7)

In [37]:
df7_t = df7.T

In [38]:
df7_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
ID,1,2,3,4,5,6
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Continent,North America,North America,North America,North America,North America,North America

In [25]:
df5.loc[:,1:2]

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

In [39]:
type(df7)

pandas.core.frame.DataFrame

In [41]:
import geopy;

ModuleNotFoundError: No module named 'geopy'

In [42]:
import geopy
dir(geopy)

ModuleNotFoundError: No module named 'geopy'

In [43]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

ModuleNotFoundError: No module named 'geopy'

In [44]:
import geopy
dir(geopy)

['AlgoliaPlaces',
 'ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'BaiduV3',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'MapQuest',
 'MapTiler',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__version_info__',
 'adapters',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'get_version',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [45]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

In [46]:
nom=Nominatim()

NameError: name 'Nominatim' is not defined

In [47]:
from geopy.geocoders import Normatim

ImportError: cannot import name 'Normatim' from 'geopy.geocoders' (c:\python39\lib\site-packages\geopy\geocoders\__init__.py)

In [49]:
from geopy.geocoders import Nominatim

In [50]:
nom.geocode("Osho st, Lagos iSLAND, LA")

Location(Lagos Island, Lagos, (6.454060000000027, 3.389410000000055, 0.0))

In [53]:
import pandas
df=pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20